@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* =========================================
     CORMORANT GARAMOND
     ========================================= */

  /* Light - 300 */
  @font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/cormorant-garamond-v21-latin-300.woff2") format("woff2");
  }

  /* Regular - 400 */
  @font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/cormorant-garamond-v21-latin-regular.woff2")
      format("woff2");
  }

  /* Medium - 500 */
  @font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/cormorant-garamond-v21-latin-500.woff2") format("woff2");
  }

  /* SemiBold - 600 */
  @font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/cormorant-garamond-v21-latin-600.woff2") format("woff2");
  }

  /* =========================================
     DM SANS
     ========================================= */

  /* Light - 300 */
  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/dm-sans-v17-latin-300.woff2") format("woff2");
  }

  /* Regular - 400 */
  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/dm-sans-v17-latin-regular.woff2") format("woff2");
  }

  /* Medium - 500 */
  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/dm-sans-v17-latin-500.woff2") format("woff2");
  }

  /* SemiBold - 600 */
  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/dm-sans-v17-latin-600.woff2") format("woff2");
  }

  /* Regular - 400 */
  @font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/playfair-display-v40-latin-regular.woff2") format("woff2");
  }

}
